@import "tailwindcss";

:root {
  --primary: #4d40e3;
  --secondary: #41ae87;
  --card-red: #ff5555;
  --card-blue: #5555ff;
  --card-green: #55aa55;
  --card-yellow: #ffaa00;
  --background: #f5fefd;
  --text: #030104;
  --error: #d21404;
  --gold: #ffbf00;
  --silver: #c4c4c4;
  --bronze: #ce8946;
}

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-card-red: var(--card-red);
  --color-card-blue: var(--card-blue);
  --color-card-green: var(--card-green);
  --color-card-yellow: var(--card-yellow);
  --color-background: var(--background);
  --color-text: var(--text);
  --color-error: var(--error);
  --color-gold: var(--gold);
  --color-silver: var(--silver);
  --color-bronze: var(--bronze);
}

html {
  @apply bg-background text-text antialiased;
}

.primary-button {
  appearance: button;
  background-color: #1899d6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 19px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.primary-button::after {
  background-clip: padding-box;
  background-color: #1cb0f6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.primary-button:focus,
.primary-button:main {
  user-select: auto;
}

.primary-button:hover:not(:disabled) {
  filter: brightness(1.1);
}

.primary-button:disabled {
  cursor: auto;
  opacity: 0.6;
}

.primary-button:active::after {
  border-width: 0 0 0;
}

.primary-button:active {
  padding-bottom: 10px;
}
